@import url('navbar.css');
@import url('footer.css');

.content-holder{
    text-align: center;
    width:80%;
    margin: 0 auto;
    height: 100%;
  
}
body{
    background-color: #f0f0f0;
}



.cart-item-mid img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    
   
}

.cart-item-mid{
    padding-right: 70px;
}

 


.cart-item{
    width: 60%;
    margin: 0 auto 20px auto;
     
   
}


@media (max-width:1200px){
    .cart-item{
        width: 100%;
    }
    .cart-item{
        width: 90%;
      
    }
}

@media (max-width:769px){
    .item-holder{
        flex-direction: column;
        justify-content: center;
    }
    .cart-item-mid{
        padding-right: 0;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .cart-item-right{
        margin-top: 10px;
    }
}
